---
layout: application
title: Washington, DC | Veronica &amp; Tony's Marriage
key: dc
---

{% include back.html %}

<section>
	<h1 class="details DC">Washington, DC party for Veronica &amp; Tony</h1>

	<p>A festive gathering at a favorite restaurant.</p>

	<ul>
		<li>Saturday, October 15, 12 noon - 4pm</li>
		<li>Boundary Road Restaurant</li>
		<li>414 H Street NE</li>
		<li>Washington, DC 20002</li>
	</ul>
	<p>Be sure to <a href="rsvp.html">RSVP</a> or <a href="http://veronicaerb.com/contact.html">send us a note</a> to let us know you're coming.</p>

	<h3>Schedule</h3>
	<p>Tony &amp; Veronica will arrive shortly after the party starts, so aim to be there at noon if you’d like to be there for their entrance. We’ll do a brief welcome, tell the origins of the food and decorations, and introduce some people, so it should be fun.</p>

	<p>The food will be served family style after the welcome, and there will be some tunes. Whenever things start to quiet down (perhaps around 3:30pm), the couple will party on out of there.</p>

	<h3>Dress</h3>
	<p>For our "fancy brunch," we invite you to pretend that you’re going on a date with someone you want to impress, and they told you you’re going to brunch.</p>
	
	<h3>Transportation</h3>
	<p>Boundary Road is a pretty easy walk from either NoMa or Union Station on the Red Line. We personally prefer the walk through the neighborhoods from NoMa. There is some parking in the neighborhoods on either side of H Street, if you want to go that route. Just be sure to read the parking signs.</p>
	
	<h3>Kids</h3>
	<p>They are welcome to attend!</p>

	<p><a href="/dc.html"><img src=""></a></p>
</section>

{% include signup.html %}