---
layout: application
title: New Jersey | Veronica &amp; Tony's Marriage
key: newjersey
---

{% include back.html %}

<section>
	<h1 class="details NJ">New Jersey party for Veronica &amp; Anthony</h1>

	<p>A fancy picnic by a garden-sized vineyard</p>
	<ul>
		<li>Saturday, August 6, 4pm-8pm</li>
		<li>East Hurley Pond Road, NJ</li>
	</ul>
	<p>Be sure to <a href="rsvp.html">RSVP</a> so we can send you specifics.</p>

	<h3>Schedule</h3>
	<p>We'll post specifics here as the dates approach. The gist: Anthony and Veronica will make a grand entrance toward the beginning, and there will be a bit of storytelling and even some participation. Toward the end of the evening, we'll have a send off, too. In between, there will be much food and music and fun!</p>

	<h3>What to wear</h3>
	<p>For our "fancy picnic," we invite you to pretend that you’re going on a date with someone you want to impress, and they told you you’re going on a picnic! Some of the party space will be paved, but most will be on grass.</p>

	<h3>Weather</h3>
	<p>The party is on, rain or shine! We'll have tents set up in the backyard to keep us cool and dry.</p>

	<p><a href="/newjersey.html"><img src=""></a></p>

</section>

{% include signup.html %}