---
layout: application
title: St. Louis | Veronica &amp; Tony's Marriage
key: stlous
---

{% include back.html %}

<section>
	<h1 class="details STL">St. Louis party for Veronica &amp; Tony</h1>

	<p>May 28, 2pm-6pm</p>
	<p><a href="http://maps.google.com/?q=Old+Playground+Pavilion+St.+Louis+MO">Old Playground Pavillion</a>, Tower Grove Park</p>
	<p>A fancy barbeque around a 145-year-old pavilion</p>
	<p>Stay tuned for more details! (Hint: RSVP so we can send you updates)</p>
	<p><a href="/stlouis.html"><img src=""></a></p>
</section>

{% include signup.html %}